.under-construction {
  width: 100vw;
  height: 100vh;
  background-image: url('../../static/img/Construction.jpg');
  background-size: cover;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under-construction-text {
  font-size: 4em;
  text-align: center;
}
